* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("images/bg-desktop.svg") no-repeat;
    background-size: contain;
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Poppins', sans-serif;
}

.main-page {
    width: 90%;
    height: 100vh;
    margin: auto;
}

.logo {
    margin: 30px 0 50px;
    width: 15%;
}

.main-section {
    display: flex;
}

.mockups {
    flex: 1;
    width: 50%;
}

.section {
    flex: 1;
    padding: 50px 0 0 50px;
    width: 100%;
}

.section h3 {
    font-size: 2.3em;
    line-height: 1.6em;
    margin-bottom: 20px;
}

.section p {
    font-size: 1.1em;
    line-height: 1.6em;
}

.section button {
    width: 200px;
    margin-top: 20px;
    text-align: center;
    border-radius: 30px;
    border: none;
    outline: none;
    height: 50px;
    background-color: #ffffff;
    color: hsl(257, 40%, 49%);
    font-size: 1.1em;
    cursor: pointer;
    border: 2px solid hsl(257, 40%, 49%);
}

.section button:hover {
    background-color: hsl(257, 40%, 49%);
    color: #ffffff;
    border-color: #ffffff;
}

.social {
    display: flex;
    justify-content: flex-end;
}

.social i {
    padding: 9px;
    width: 40px;
    font-size: 16px;
    margin: 20px 7px;
    text-align: center;
    border: 1.2px solid;
    border-radius: 50%;
    /*if width and height are equal will circl*/
    cursor: pointer;
}

.social i:hover {
    color: hsl(257, 40%, 49%);
    background-color: #ffffff;
}

@media screen and (max-width: 768px) {

    body {
        background: url("images/bg-mobile.svg") no-repeat;
        background-color: hsl(257, 40%, 49%);
        background-size: contain;
    }

    .logo {
        width: 60%;
        padding: 40px;
    }

    .main-section {
        flex-direction: column;
    }

    .main-section img {
        width: 80%;
        margin: auto;

    }

    .section {
        text-align: center;
        width: 90%;
    }

    .section h3 {
        margin-top: 30px;
        font-size: 1.9em;
    }

    .section button {
        width: 250px;
        margin: 40px 0 20px;
    }

    .social{justify-content: center;margin: 20px 0;padding: 0;}
}